#app-mount > :nth-child(4) > :first-child {
    color: #fff;
    & > svg

{
    display: none;
}

padding-top: 2px;

&::before {
    content: "Disco External Mod";
    font-size: 13px;
    font-weight: 700;
    color: #fff;
    line-height: 18px;
}
}
